.container {
	background-image: url('../../assets/background.jpeg');
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
	overflow: hidden;
}
.blur {
	height: 100%;
	width: 100%;
	backdrop-filter: blur(1px);
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	padding: 6rem;
}

.button {
	font-size: 4rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	border-radius: 8px;
	padding: 12px 24px;
	background-color: transparent;
	text-decoration: none;
	color: white;
	border: 4px solid white;
}

.button:hover {
	color: #18e1e4;
	border: 4px solid #18e1e4;
}
